@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fecd03ba;
    background-image: url('/bg.png');
    margin: 0;    
}
.tcell {
    @apply border-b border-white p-2;
}
.rowColor {
    @apply odd:bg-gray-300 even:bg-gray-100
}